<template>
  <div class="container">
    <div class="row">
      <div class="col s1 m1 l1">
      </div>
      <div class="section col s11 m9 l10">
        <div id="about" class="section ">
          <h5>これはなに？</h5>
          <p class="caption">Online MMO Game ファイナルファンタジーXIV(通称:FF14)内コンテンツ、トレジャーハントの支援ツールです。古ぼけた地図G8のみサポートしています。</p>
        </div>
        <div class="divider"></div>
        <div id="searchmap" class="section ">
          <h5>解読した地図の示す場所を探す</h5>
          <ol>
            <li>
              <a href="" class="btn btn-floating btn-large waves-effect waves-light blue" >
                <i class="material-icons">pin_drop</i>
              </a>ボタンから解読した地図を探します。
            </li>
            <li>一覧に表示される地図から地図画像下部のボタンを押すと地図の示す場所にマークされます。</li>
          </ol>
        </div>
        <div class="divider"></div>
        <div id="pastelog" class="section ">
          <h5>チャットログから場所をさがす（ＰＣ版のみ）</h5>
          <ol>
            <li>宝の地図のマップ座標を含むゲーム内チャットログをコピーします。</li>
            <li>
              <a href="" class="btn btn-floating btn-large waves-effect waves-light cyan lighten-2 map-control-overlay">
                <i class="material-icons">input</i>
              </a>
              ボタンからチャットログはりつけ画面を表示します。</li>
            <li>コピーした内容を貼り付けて<a href="" class="btn">Create</a>を押します。</li>
            <li>マップ座標のチャットログの書式はマップをクリックするとできるflagや「座標＠地名」などのテキストでもOKです。チャットログに表示されるプレイヤー名も含めてください。</li>
            <li>チャットログの示す座標情報から地図にマークされます</li>
          </ol>
          <h5>補足</h5>
          <ul>
            <li>追加参加や2枚目地図の開封があった場合は同様にチャットログを張り付けて<a href="" class="btn">Append</a>を押すとマークが追加されます。</li>
            <li>チャットログの内容について座標＠地名で申告することも可能です。（全角ＯＫ！）、座標部分を某サイトにある地図に対応するアルファベットでもOKです。以下張り付けるチャットログの例です。</li>
<pre>[23:26] (Player A.) クルザス西部高地 ( 36.6  , 26.6 )
[23:26] (Player B.) １１，３２＠アバ
[23:26] (Player C.) A＠ドラ高地
[23:26] (Player D.) 高地入口側＠西部
</pre>
            <li>宝を採掘したら地図右側のリストの対象の行の<input id="help-check-off" type="checkbox" /><label for="help-check-off"></label>から<input id="help-check-on" type="checkbox" checked="checkd" /><label for="help-check-on"></label>へ変更し、地図のマークを非表示にしましょう。</li>
          </ul>
        </div>
        <div class="divider"></div>
        <div id="sharemap" class="section ">
          <h5>地図のマークを共有する</h5>
          <ol>
            <li>
              <a href="" class=" btn-floating btn-large waves-effect waves-light light-green accent-4">
                <i class="material-icons">share</i>
              </a>ボタンから共有するためのURLを表示します。</li>
            <li>表示されたURLをコピーしてチャットなりで伝えましょう。</li>
            <li>マークの追加や修正をした場合は再度同じ操作で伝えましょう。※マークの情報はURL内に圧縮して記録されているため、一度伝えたURLを参照しているユーザには後で修正した内容は表示されません。</li>
          </ol>
        </div>
      </div>
  <!--
    <div class="col hide-on-small-only m3 l2">
      <div class="toc-wrapper pin-top" style="top: 0px;">
        <div style="height: 1px;">
          <ul class="section table-of-contents">
            <li><a href="#about" class="active">これはなに？</a></li>
            <li><a href="#searchmap" class="">地図を探してピンをたてる</a></li>
            <li><a href="#pastelog" class="">チャットログから地図にピンを立てる</a></li>
            <li><a href="#sharemap" class="">ピンを共有する</a></li>
            <li><a href="#disclaimer" class="">免責事項</a></li>
          </ul>
        </div>
      </div>
    </div>
	-->
    </div><!-- outer row -->
  </div>
</template>

<script>
export default {
  name: 'help',
  data () {
    return {
    }
  },
  mounted () {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
