<template>
  <div class="home">
    <MapView ref="map-view" :areaId="areaId"></MapView>
    <div>
      <!-- bottom control group -->
      <div class="bottom-menu-layout">
        <a class="tooltipped btn btn-floating btn-large waves-effect waves-light blue map-control-overlay" @click="openDropPinModal" data-position="top" data-delay="50" data-tooltip="地図を探す">
          <i class="material-icons">pin_drop</i>
        </a>
        <a class="tooltipped btn btn-floating btn-large waves-effect waves-light cyan lighten-2 map-control-overlay" @click="openInputLogModal" data-position="top" data-delay="50" data-tooltip="チャットログを貼り付ける">
          <i class="material-icons">input</i>
        </a>
        <a class="tooltipped scale-transition btn btn-floating btn-large waves-effect waves-light light-green accent-4 map-control-overlay" @click="openSharePinModal" :class="{ 'scale-out': !exists }" data-position="top" data-delay="50" data-tooltip="共有する">
          <i class="material-icons">share</i>
        </a>
        <a class="tooltipped scale-transition btn btn-floating btn-large waves-effect waves-light deep-purple accent-1 map-control-overlay" @click="openRouteSeachModal" :class="{ 'scale-out': !exists }" data-position="top" data-delay="50" data-tooltip="経路を検索する">
          <i class="material-icons">directions</i>
        </a>
      </div>
      <!-- modals -->
      <DropPinModal ref="dropPinModal" :areaId="areaId" v-on:close="onCloseModal" v-on:select="onDropPin" v-on:click-image="onClickImage"></DropPinModal>
      <InputLogModal ref="inputLogModal" v-on:execute="onInputLog"></InputLogModal>
      <SharePinModal ref="sharePinModal"></SharePinModal>
      <RouteSearchModal ref="routeSearchModal" v-on:click-route="onClickRoute" v-on:close="onCloseModal"></RouteSearchModal>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'home',
  props: [
    'areaId',
    'uuid',
    'control'
  ],
  data () {
    return {
      exists: false
    }
  },
  components: {
    MapView: require('@/components/Map'),
    DropPinModal: require('@/components/DropPinModal'),
    InputLogModal: require('@/components/InputLogModal'),
    SharePinModal: require('@/components/SharePinModal'),
    RouteSearchModal: require('@/components/RouteSearchModal')
  },
  created () {
    this.exists = this.tresuares.length > 0

    // SideNavのクリックイベント url変動がない場合の対応
    this.control.$on('link', (t) => {
      this.$refs['map-view'].focusOwner(t)
    })
  },
  mounted () {
    if (this.uuid) {
      let t = this.tresuares.find((e) => e.uuid === this.uuid)
      this.$refs['map-view'].focusOwner(t)
    }
  },
  destroyed () {
    this.control.$off('link')
  },
  methods: {
    openDropPinModal () {
      this.$refs.dropPinModal.open()
    },
    openSharePinModal () {
      this.$refs.sharePinModal.open()
    },
    openInputLogModal () {
      this.$refs.inputLogModal.open()
    },
    openRouteSeachModal () {
      this.$refs.routeSearchModal.open()
    },
    onDropPin (location) {
      let tresure = {
        areaId: this.areaId,
        xy: location.xy,
        owner: 'X' + location.xy[0] + ', Y' + location.xy[1],
        complete: false
      }
      this.$store.dispatch('addTreasure', [tresure])
    },
    onInputLog (tresuares, append) {
      if (append) {
        this.$store.dispatch('addTreasure', tresuares)
      } else {
        this.$store.dispatch('refreshTresuare', tresuares)
      }
    },
    onClickRoute (target) {
      this.$refs['map-view'].focusRoute(target)
    },
    onClickImage (location) {
      this.$refs['map-view'].focusLocation(location)
    },
    onCloseModal () {
      this.$refs['map-view'].clearDraw()
    }
  },
  computed: {
    ...mapGetters([
      'tresuares'
    ])
  },
  watch: {
    tresuares: {
      handler (tresuares) {
        this.exists = tresuares.length > 0
      },
      deep: true
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* -- layout -- */
.map-control-overlay {
  position: relative;
  z-index: 45;
}

/* .bottom-menu-layout */
.bottom-menu-layout {
  position: absolute;

}

@media only screen and (max-width: 600px) {
  .bottom-menu-layout  {
    bottom: 30px;
    left: 10px;
  }
  .bottom-menu-layout .btn {
    margin: 5px;
  }
}
@media only screen and (min-width: 601px) {
  .bottom-menu-layout {
    bottom: 30px;
    left: 10px;
  }
  .bottom-menu-layout .btn {
    margin: 10px;
  }
}
</style>
