<template>
  <div ref="map-view" class="map-view"></div>
</template>

<script>
import { mapGetters } from 'vuex'
import L from 'leaflet'
import 'leaflet/dist/leaflet.css'
import config from '@/config'

L.Icon.Default.imagePath = 'static/images'

L.Map = L.Map.extend({
  openPopup: function (popup) {
    this._popup = popup
    return this.addLayer(popup).fire('popupopen', {
      popup: this._popup
    })
  }
})

function createMap (element) {
  let map = L.map(
    element, // document.getElementById('map-view'),
    {
      maxZoom: 24,
      minZoom: 1,
      crs: L.CRS.Simple,
      zoomControl: false
    }).setView([126, 126], 1)

  L.control.zoom({position: 'bottomright'}).addTo(map)
  return map
}

function createLayers (map, areas) {
  let layers = []
  areas.forEach(area => {
    layers.push({
      areaId: area.id,
      opacity: 0,
      baseMap: createBaseLayer(map, area)
    })
  })
  layers.forEach(layer => {
    let area = areas.find(a => layer.areaId === a.id)
    layer.locationMarkers = createLocationMarker(map, area.locations)
    layer.tresuareMarkers = L.layerGroup().addTo(map)
    layer.draws = L.layerGroup().addTo(map)
  })
  return layers
}

function createBaseLayer (map, area) {
  let base = L.imageOverlay(
    config.baseUrl + area.img,
    [[256, 0], [0, 256]],
    {
      opacity: 0,
      attribution: 'Copyright (C) 2010 - 2016 SQUARE ENIX CO., LTD. All Rights Reserved.'
    }).addTo(map)
  return base
}

function createLocationMarker (map, locations) {
  let layerGroup = L.layerGroup().addTo(map)
  locations.forEach(location => {
    let marker = L.circleMarker(Xy2Latlng(location.xy), {
      clickable: false,
      color: 'red',
      opacity: 0,
      fillOpacity: 0
    }).addTo(map)
    marker.uuid = location.id
    layerGroup.addLayer(marker)
  })
  return layerGroup
}

function createTresuareMarker (map, layers, tresuares, onDragend) {
  tresuares.forEach(tresuare => {
    addTresuareMarker(map, layers, tresuare, onDragend)
  })
}

function addTresuareMarker (map, layers, tresuare, onDragend) {
  let layer = layers.find(e => e.areaId === tresuare.areaId)

  let marker = L.marker(Xy2Latlng(tresuare.xy), {
    draggable: true,
    opacity: layer.opacity
  })
  marker.uuid = tresuare.uuid
  marker.complete = tresuare.complete
  marker.bindPopup(escapeHtml(tresuare.owner))
  marker.on('dragend', e => {
    onDragend(e)
  })

  layer.tresuareMarkers.addLayer(marker)
  if (layer.opacity > 0) marker.openPopup()

  return marker
}

function deleteTresuareMarker (map, layers, tresuare) {
  let layer = layers.find(e => e.areaId === tresuare.areaId)
  let marker
  layer.tresuareMarkers.eachLayer(m => {
    if (tresuare.uuid === m.uuid) marker = m
  })
  layer.tresuareMarkers.removeLayer(marker)
}

function updateTresuareMarker (map, layers, tresuare) {
  let layer = layers.find(e => e.areaId === tresuare.areaId)
  let marker
  layer.tresuareMarkers.eachLayer(m => {
    if (tresuare.uuid === m.uuid) marker = m
  })
  marker.complete = tresuare.complete
  if (tresuare.complete) {
    marker.setOpacity(0).closePopup()
  } else {
    marker.setOpacity(layer.opacity)
  }
  marker.getPopup().setContent(escapeHtml(tresuare.owner)).update()
}

function showOverlay (map, layers, areaId, latlng, zoom, popup) {
  let showLayer

  layers.forEach(layer => {
    layer.opacity = 0
    layer.baseMap.setOpacity(0)
    layer.locationMarkers.eachLayer(marker => {
      marker.setStyle({
        opacity: 0,
        fillOpacity: 0
      }).closePopup()
    })
    layer.tresuareMarkers.eachLayer(marker => {
      if (!marker.complete) {
        marker.setOpacity(0).closePopup()
      }
    })
    layer.draws.eachLayer(draw => {
      draw.setStyle({
        opacity: 0
      })
    })
    if (layer.areaId === areaId) showLayer = layer
  })

  if (showLayer) {
    showLayer.opacity = 1
    map.setView(latlng, zoom, {animate: false})
    showLayer.baseMap.setOpacity(1)
    showLayer.locationMarkers.eachLayer(marker => {
      marker.setStyle({
        opacity: 0.3,
        fillOpacity: 0.2
      }).closePopup()
    })
    showLayer.tresuareMarkers.eachLayer(marker => {
      if (!marker.complete) {
        marker.setOpacity(1)
        if (popup) marker.openPopup()
      }
    })
    showLayer.draws.eachLayer(draw => {
      draw.setStyle({
        opacity: 1
      })
    })
  }
}

function addLine (map, layers, target) {
  let layer = layers.find(e => e.areaId === target.areaId)

  let line = L.polyline(
    [
      Xy2Latlng(target.from),
      Xy2Latlng(target.xy)
    ],
    {
      color: 'blue',
      weight: 5,
      opacity: 0.5,
      lineJoin: 'round'
    }
  )
  layer.draws.addLayer(line)
}

function addCircle (map, layers, target) {
  let layer = layers.find(e => e.areaId === target.areaId)

  let circle = L.circleMarker(Xy2Latlng(target.xy), {
    clickable: false,
    color: 'blue',
    opacity: 0.5,
    fillOpacity: 0.5
  })
  layer.draws.addLayer(circle)
}

/*
function addMarker (map, layers, location) {
  let layer = layers.find(e => e.areaId === location.areaId)

  let marker = L.marker(Xy2Latlng(location.xy), {
    opacity: 0.7
  })
  layer.draws.addLayer(marker)
}
*/

function addPolygon (map, layer, target) {
  let w = 1.9
  let h = 1.6
  let delta = function (xy, dxy) {
    let r = []
    r[0] = xy[0] + dxy[0]
    r[1] = xy[1] + dxy[1]
    return r
  }

  let polygon = L.polygon(
    [
      Xy2Latlng(delta(target.xy, [w, h])),
      Xy2Latlng(delta(target.xy, [w, -h])),
      Xy2Latlng(delta(target.xy, [-w, -h])),
      Xy2Latlng(delta(target.xy, [-w, h]))
    ],
    {
      color: 'blue',
      weight: 1,
      opacity: 0.5,
      lineJoin: 'round'
    }
  )

  polygon.bindPopup('X' + target.xy[0] + ', Y' + target.xy[1])
  layer.draws.addLayer(polygon)
}

function clearDrawLayer (map, layers, target) {
  layers.forEach(layer =>
    layer.draws.clearLayers()
  )
}

function focusMarker (layers, tresuare) {
  let layer = layers.find(l => l.areaId === tresuare.areaId)
  layer.tresuareMarkers.eachLayer(m => {
    if (m.uuid === tresuare.uuid) {
      if (!tresuare.complete) {
        m.openPopup()
      }
    } else {
      m.closePopup()
    }
  })
}

function Xy2Latlng (xy) {
  let lat = 256 - (xy[1] - 1) * (256 / 43)
  let lng = (xy[0] - 1) * (256 / 43)
  return [lat, lng]
}

function Latlng2Xy (latlng) {
  let y = (256 - latlng.lat) / (256 / 43) + 1
  let x = latlng.lng / (256 / 43) + 1
  return [x, y]
}

function escapeHtml (string) {
  if (typeof string !== 'string') {
    return string
  }
  return string.replace(/[&'`"<>]/g, function (match) {
    return {
      '&': '&amp;',
      "'": '&#x27;',
      '`': '&#x60;',
      '"': '&quot;',
      '<': '&lt;',
      '>': '&gt;'
    }[match]
  })
}

export default {
  name: 'map',
  props: [
    'areaId'
  ],
  data () {
    return {
      map: null,
      layers: []
    }
  },
  mounted () {
    // init
    this.map = createMap(this.$refs['map-view'])
    this.layers = createLayers(this.map, config.areas)
    createTresuareMarker(this.map, this.layers, this.tresuares, this.onMarkerDragend)
    this.map.on('moveend', e => {
      this.onMoveend(e)
    })

    this.map.on('zoomend', e => {
      this.onZoomend(e)
    })

    showOverlay(this.map, this.layers, this.areaId, this.currentLatlng,
      this.currentZoom, true)
    this.$store.dispatch('changeArea', this.areaId)
  },
  destroyed () {
  },
  methods: {
    onMoveend (e) {
      let center = this.map.getCenter()
      this.$store.dispatch('changeLatlng', [center.lat, center.lng])
    },
    onZoomend (e) {
      let zoom = this.map.getZoom()
      this.$store.dispatch('changeZoom', zoom)
    },
    onMarkerDragend (e) {
      this.$store.dispatch('moveTresuare', {
        uuid: e.target.uuid,
        xy: Latlng2Xy(e.target._latlng)
      })
    },
    focusOwner (tresuare) {
      this.$nextTick(() => {
        focusMarker(this.layers, tresuare)
      })
    },
    focusRoute (target) {
      this.$router.history.replace({params: {areaId: target.areaId}})
      clearDrawLayer(this.map, this.layers)

      if (target.type === 'location') {
        addCircle(this.map, this.layers, target)
        addLine(this.map, this.layers, target)
      } else {
        addCircle(this.map, this.layers, target)
      }
      let center = Xy2Latlng(target.xy)
      center[0] = center[0] - (60 * 1 / Math.pow(2, this.currentZoom - 0))
      this.$nextTick(() => {
        this.map.setView(center)
        focusMarker(this.layers, target)
      })
    },
    focusLocation (location) {
      let layer = this.layers.find(e => e.areaId === this.areaId)
      clearDrawLayer(this.map, this.layers)
      addPolygon(this.map, layer, location)
      let center = Xy2Latlng(location.xy)
      center[0] = center[0] - (60 * 1 / Math.pow(2, this.currentZoom - 0))
      this.map.setView(center)
    },
    clearDraw () {
      clearDrawLayer(this.map, this.layers)
    }
  },
  computed: {
    ...mapGetters([
      'currentAreaId',
      'currentLatlng',
      'currentZoom',
      'tresuares',
      'addedTresuare',
      'deletedTresuare',
      'updatedTresuare'
    ])
  },
  watch: {
    areaId (areaId) {
      showOverlay(this.map, this.layers, areaId, this.currentLatlng,
        this.currentZoom, true)
      this.$store.dispatch('changeArea', areaId)
    },
    addedTresuare (tresuares) {
      tresuares.forEach(t => {
        addTresuareMarker(this.map, this.layers, t, this.onMarkerDragend)
      })
    },
    deletedTresuare (tresuares) {
      tresuares.forEach(t => {
        deleteTresuareMarker(this.map, this.layers, t)
      })
    },
    updatedTresuare: {
      handler (tresuares) {
        tresuares.forEach(t => {
          updateTresuareMarker(this.map, this.layers, t)
        })
      },
      deep: true
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.map-view {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:35;
  overflow:hidden;
}
</style>
