<template>
  <div ref="modal-dialog" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="row">
        <div class="col s12 m5 l3">
          <a class="btn" @click="onClickSearch"><i class="material-icons left">directions</i>経路検索</a>
          <p>
            <input class="with-gap" name="group3" type="radio" id="chk-east" value="e" v-model="mode" />
            <label for="chk-east">アバラシア起点</label>
          </p>
          <p>
            <input class="with-gap" name="group3" type="radio" id="chk-west" value="w" v-model="mode" />
            <label for="chk-west">ドラヴァニア起点</label>
          </p>
          <!--
          <p>
            <input class="with-gap" name="group3" type="radio" id="chk-start" value="s" v-model="mode" />
            <label for="chk-start">開始地点を指定する</label>
          </p>
          <div>
            <a class="btn-floating btn" @click="onClickTarget" :class="mode === 's' ? '' : 'disabled'"><i class="material-icons">location_searching</i></a>
            <p v-if="start!==null">{{start.areaId}}&nbsp;座標:X{{Math.round(start.xy[0])}}, Y{{Math.round(start.xy[1])}}</p>
          </div>
          -->
        </div>
        <div class="col s12 m7 l6">
          <a ref="clip-btn" class="btn right" :class="routes.length > 0 ? '' : 'hide'"><i class="material-icons">content_copy</i></a>
          <div v-if="routes.length > 0" style="clear:both;">
            <ul class="collection">
              <li class="collection-item avatar" v-for="r in routes">
                <template v-if="r.type==='teleport'">
                  <i class="material-icons circle green icon-button" @click="onClickIcon(r)">graphic_eq</i>
                  <span class="title">{{r.name}}</span>
                  <p>{{r.areaName}}<br />座標:X{{Math.round(r.xy[0])}}, Y{{Math.round(r.xy[1])}}</p>
                  <!--<a class="secondary-content"><i class="material-icons icon-button">assignment_returned</i></a>-->
                </template>
                <template v-else>
                  <i class="material-icons circle blue icon-button" @click="onClickIcon(r)">place</i>
                  <span class="title">{{r.name}}</span>
                  <p>{{r.areaName}}<br />座標:X{{Math.round(r.xy[0])}}, Y{{Math.round(r.xy[1])}} 距離:{{Math.round(r.distance)}}</p>
                  <!--
                  <a class="secondary-content">
                    <input type="checkbox" :id="r.uuid"><label :for="r.uuid"></label>
                    <i class="material-icons icon-button">assignment_returned</i>
                  </a>
                  -->
                </template>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import config from '@/config'
import RouteSearch from '@/api/RouteSearch'
import { mapGetters } from 'vuex'
import Clipboard from 'clipboard'

function getAreaName (areaId) {
  let area = config.areas.find(a => a.id === areaId)
  return area.name
}

function optimizeRoute (route, tresuares, options) {
  let optimized = []

  let group = []
  let points = route.points
  let teleport = route.teleport
  let distances = route.distances

  let end = teleport.length
  let p
  let t
  if (!teleport[0]) {
    p = {
      sortKey: -1,
      start: 0,
      end: 0
    }
    group.push(p)
  }
  for (let i = 0; i < end; i++) {
    if (teleport[i]) {
      t = {
        sortKey: teleport[i].idx,
        start: i,
        end: i
      }
      group.push(t)
      if (p) p.end = i
      p = t
    }
  }
  p.end = end

  if (options.mode === 'e') {
    group = group.sort((a, b) => {
      if (a.sortKey < b.sortKey) return -1
      if (a.sortKey > b.sortKey) return 1
      return 0
    })
  } else if (options.mode === 'w') {
    group = group.sort((a, b) => {
      if (a.sortKey < b.sortKey) return 1
      if (a.sortKey > b.sortKey) return -1
      return 0
    })
  }

  let pre
  group.forEach(e => {
    let tel = teleport[e.start]
    let next
    if (tel) {
      next = {
        type: 'teleport',
        areaId: tel.areaId,
        areaName: getAreaName(tel.areaId),
        name: tel.name,
        xy: tel.xy
      }
      optimized.push(next)
      pre = next
    } else {
      pre = {xy: options.start.xy}
    }

    for (let i = e.start; i < e.end; i++) {
      let tre = tresuares[points[i]]
      next = {
        type: 'location',
        areaId: tre.areaId,
        areaName: getAreaName(tre.areaId),
        name: tre.owner,
        xy: tre.xy,
        from: pre.xy,
        uuid: tre.uuid,
        distance: distances[i]
      }
      optimized.push(next)
      pre = next
    }
  })
  return optimized
}

export default {
  name: 'route-seach-modal',
  prop: [
  ],
  data () {
    return {
      score: null,
      clipboard: null,
      start: null,
      mode: 'e'
    }
  },
  mounted () {
    let that = this
    $(this.$refs['modal-dialog']).modal({
      opacity: 0.1,
      complete () {
        that.close()
      }
    })
    this.clipboard = new Clipboard(this.$refs['clip-btn'], {
      text (trigger) {
        let lines = []
        that.routes.forEach((e, i) => {
          if (e.type === 'location') {
            lines.push('/p ' + e.name + ' : ' + e.areaName + ' X' + e.xy[0] + ', Y' + e.xy[1])
          } else {
            lines.push('/p ' + e.name)
          }
        })
        return lines.join('\r\n')
      }
    })
    this.clipboard.on('success', e => {
      null // TODO toast message
    })
  },
  destroyed () {
    this.clipboard.destroy()
  },
  methods: {
    open () {
      $(this.$refs['modal-dialog']).modal('open')
    },
    onClickSearch () {
      let options = {
        mode: this.mode,
        start: this.start
      }
      let result = RouteSearch.seach(this.$store.state.tresuares, config.aetherytes, this.start)
      let routes = optimizeRoute(result, this.$store.state.tresuares, options)
      this.score = result.score
      this.$store.dispatch('refreshRoute', routes)
    },
    close () {
      this.$emit('close')
    },
    onClickIcon (target) {
      this.$emit('click-route', target)
    },
    onClickTarget (target) {
      this.start = {areaId: 'a1', xy: [10, 20]}
      $(this.$refs['modal-dialog']).modal('close')
    }
  },
  computed: {
    ...mapGetters([
      'tresuares',
      'routes'
    ])
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.icon-button {
  /*display: inline-block;*/
  cursor: pointer;
}

</style>
