<template>
  <div ref="modal-dialog" class="modal">
    <div class="modal-content">
      <a class="modal-close right grey-text"><i class="material-icons">close</i></a>
      <h4>地図のマークを共有する</h4>
      <p>所有者やマークの座標等の情報は以下のURL内に圧縮して記録されています。一度伝えたURLを参照しているユーザには後で修正した内容は表示されません。</p>
      <input id="share-url" :value="shareUrl" class="form-control" />
      <a class="btn" id="clip-btn" data-clipboard-target="#share-url"><i class=""></i>Copy Clipboard</a>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Clipboard from 'clipboard'
import UrlParser from '@/api/UrlParser'
import Yourls from 'yourls-api'

function getShortUrl (url, callback) {
  // bitly API
  /*
  $.getJSON(
    'http://api.bitly.com/v3/shorten?callback=?',
    {
      format: 'json',
      apiKey: 'R_8ee621104b454670a2402137c0441303',
      login: 'g8mapdigger',
      longUrl: url
    },
    response => {
    }).success(json => {
      if (json.data.url) {
        callback(json.data.url)
      }
    }).error((jqXHR, textStatus, errorThrown) => {
      console.log('error status:' + textStatus)
    })
    */
  Yourls.connect('http://g10.webcrow.jp/yourls-api.php', {
    signature: '2402548c3b'
  })
  Yourls.shorten(url, function (result, response) {
    callback(result.shorturl)
  })
  Yourls.disconnect()
}

export default {
  name: 'share-pin-modal',
  data () {
    return {
      shareUrl: '',
      clipboard: null
    }
  },
  created () {
    UrlParser
  },
  mounted () {
    $(this.$refs['modal-dialog']).modal()
    this.clipboard = new Clipboard('#clip-btn')
  },
  destroyed () {
    this.clipboard.destroy()
  },
  methods: {
    open () {
      this.shareUrl = UrlParser.setQuery(window.location, this.tresuares)
      $(this.$refs['modal-dialog']).modal('open')
      getShortUrl(this.shareUrl, shortUrl => {
        this.shareUrl = shortUrl
      })
    }
  },
  computed: {
    ...mapGetters([
      'tresuares'
    ])
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
