<template>
  <div>
    <div id="slide-out" class="side-nav fixed">
      <nav class="">
        <div class="brand-logo left">
          <a href="#">G8 Map</a>
        </div>
      </nav>
      <div class="row">
        <ul class="tabs">
          <li class="tab col s6"><a class="active" href="#navi"><!--<i class="material-icons">map</i>-->Navi</a></li>
          <li class="tab col s6"><a href="#list"><!--<i class="material-icons">local_offer</i>-->List<span v-if="exists" class="new badge"></span></a></li>
        </ul>
      </div>
      <div id="navi">
        <ul>
          <router-link @click.native="closeSideNav" :to="{name:'area', params: { areaId: a.id }}" tag="li" active-class="active" v-for="a in areas" :key="a.id">
            <a>
              <span v-if="a.count > 0" class="new badge" data-badge-caption="">{{a.count}}</span>{{a.name}}
            </a>
          </router-link>
          <li><div class="divider"></div></li>
          <router-link @click.native="closeSideNav" :to="{name:'help'}" tag="li" active-class="active" exact>
            <a><i class="material-icons left">help_outline</i>Help</a>
          </router-link>
          <router-link @click.native="closeSideNav" :to="{name:'info'}" tag="li" active-class="active" exact>
            <a><i class="material-icons left">info_outline</i>Info</a>
          </router-link>
        </ul>
        <div class="container" style="font-size:0.9rem">
          記載されている会社名・製品名・システム名などは、各社の商標、または登録商標です。
        </div>
      </div>
      <div id="list" class="col s12 shapeup" style="padding:10px;">
        <div class="collection">
          <div class="collection-item" v-for="t in tresuares" :key="t.uuid">
            <span class="right" style="">
              <input type="checkbox" v-model="t.complete" :id="t.uuid" :class="{ hide: isEdit }" @change="onChange(t)" />
              <label :for="t.uuid" :class="{ hide: isEdit }"></label>
              <i class="icon-button material-icons md-dark md-inactive" :class="{ hide: !isEdit }" @click="onClickDelete(t)">close</i>
            </span>
            <!--<a class="truncate" :class="{ hide: isEdit }">{{t.owner}}</a>-->
            <a class="truncate icon-button" :class="{ hide: isEdit }" @click="onClickLink(t)">{{t.owner}}</a>
            <input :class="{ hide: !isEdit }" @change="onChange(t)" v-model="t.owner" class="valign" type="text" :value="t.owner" />
          </div>
        </div>
        <div class="switch right" style="margin-right: 20px;" v-if="tresuares.length > 0">
          <label>
            <span class="">Lock</span>
            <input type="checkbox" v-model="isEdit" />
            <span class="lever"></span>
            <span class="">Edit</span>
          </label>
        </div>
        <div v-else class="container">
          地図にマークをするとここに一覧表示されます
        </div>
      </div>
    </div>
    <a href="#" data-activates="slide-out" class="navi-extend-button button-collapse"><i class="material-icons">menu</i></a>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import config from '@/config'
import 'materialize-css/js/sideNav2'

export default {
  name: 'sidenav',
  props: [
    'control'
  ],
  data () {
    return {
      activeClass: 'active',
      isEdit: false,
      areas: [],
      exists: false
    }
  },
  created () {
    config.areas.forEach(a => {
      this.areas.push({
        id: a.id,
        name: a.name,
        count: this.tresuares.filter(t => (t.areaId === a.id && !t.complete)).length
      })
    })
  },
  mounted () {
    $('.button-collapse').sideNav({
      menuWidth: 250,
      closeOnClick: false,
      draggable: true
    })
    $('ul.tabs').tabs()
  },
  computed: {
    ...mapGetters([
      'tresuares'
    ])
  },
  methods: {
    onChange (t) {
      this.$store.dispatch('updateTresuare', [t])
    },
    onClickDelete (t) {
      this.$store.dispatch('deleteTresuare', [t])
    },
    onClickLink (t) {
      this.closeSideNav()
      this.$router.push({name: 'area', params: { areaId: t.areaId }, query: {uuid: t.uuid}})
      this.control.$emit('link', t)
    },
    closeSideNav () {
      $('.button-collapse').sideNav('hide')
    }
  },
  watch: {
    tresuares: {
      handler (tresuares) {
        this.exists = tresuares.length > 0
        this.areas.forEach(a => {
          a.count = this.tresuares.filter(t => (t.areaId === a.id && !t.complete)).length
        })
      },
      deep: true
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.navi-extend-button {
  margin: 4px;
  color: rgba(0,0,0,0.5);
  display: block;
  position: absolute;
  height: 48px;
  width: 48px;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  line-height: 56px;
  top: 0;
  left: 0;
  z-index:200;
  background-color: rgba(255, 255, 255, 0.46);
  /*border: 1px solid rgba(0, 0, 0, 0.9);*/
  border-radius: 4px;
}

/* -- shapeup collection -- */
.shapeup .collection, .shapeup .collection-item {
  border: none;
}

/* -- custom badge -- */
.badge {
  margin-left :1px;
  min-width : 1rem;
}
.badge.new {
  font-weight :500;
}

.icon-button {
  /*display: inline-block;*/
  cursor: pointer;
}

/* -- shapeup form control -- */
.shapeup input[type="checkbox"]+label {
  height: 16px;
  line-height: 16px;
}
.shapeup [type="checkbox"]+label:before,
.shapeup [type="checkbox"]:not(.filled-in)+label:after {
  margin-top: 0px;
}
.shapeup .icon-button{
  margin-top:2px;
  margin-right: 10px;
}

.shapeup input[type="text"]  {
  margin:0px;
  height:1.5rem;
  width: 70%;
}
/* -- shapeup collection -- */
.shapeup .collection, .shapeup .collection-item {
  border: none;
}

.shapeup .collection-item {
  padding : 10px;
  height: 42px;
}
</style>
