<template>
  <div>
    <side-nav :control="bus"/></side-nav>
    <main id="app" class="content-wrapper">
      <router-view :control="bus"></router-view>
    </main>
  </div>
</template>

<script>
import Vue from 'vue'
import 'materialize-css/dist/css/materialize.css'
import 'materialize-css'
import UrlParser from '@/api/UrlParser'
// import 'material-design-icons/iconfont/material-icons.css'

export default {
  name: 'app',
  data () {
    return {
      bus: new Vue()
    }
  },
  created () {
    let tresuares = UrlParser.parseQuery(this.$route.query)
    this.$router.history.replace({query: {}})
    if (tresuares.length > 0) {
      this.$store.dispatch('refreshTresuare', tresuares)
    }
  },
  components: {
    SideNav: require('@/components/SideNav')
  }
}
</script>

<style>
.content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
@media only screen and (max-width: 600px) {
  .content-wrapper{
    left: 0;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .content-wrapper {
    left: 250px;
  }
}
@media only screen and (min-width: 993px) {
  .content-wrapper {
    left: 250px;
  }
}
</style>
